:root {
	--accent: 136, 58, 234;
	--accent-light: 224, 204, 250;
	--accent-dark: 49, 10, 101;
	--accent-gradient: linear-gradient(
		45deg,
		rgb(var(--accent)),
		rgb(var(--accent-light)) 30%,
		white 60%
	);
}
html {
	background-image: linear-gradient(to bottom, #808080, #000000);
	font-family: 'Exo', 'Poppins', 'Segoe UI', Arial, sans-serif;
}
body {
	width: 100%;
	overflow: auto;
	padding: 0;
	margin:0;
}
* {
	box-sizing: border-box; 
}
code {
	font-family:
		Menlo,
		Monaco,
		Lucida Console,
		Liberation Mono,
		DejaVu Sans Mono,
		Bitstream Vera Sans Mono,
		Courier New,
		monospace;
}
a {
	color: inherit;
	text-decoration: none;
}
