---
import Layout from '../layouts/Layout.astro';
import InteractiveCanvas from '../components/InteractiveCanvas.astro';
---

<Layout title="Smoky">
	<main>
		<div class="fullscreen-bg">
		    <video
		      class="video-fill"
		      autoplay
		      playsinline
		      muted
		      loop
		    >
		      <source src="/images/looping-ripples.mp4" type="video/mp4" />
		    </video>
		    <InteractiveCanvas id="overlay"></InteractiveCanvas>
		  </div>
	</main>
</Layout>

<style>
	main {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
	.fullscreen-bg {
		background-color: #808080;
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		overflow:hidden;
	}
	.video-fill {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.overlay {
		position: absolute;
		display: flex;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
	}
</style>

<script>
	import { Point, ParticleSystem } from "../scripts/ParticleSystem";

	const canvas = document.getElementById("overlay") as HTMLCanvasElement;
	var tNow = performance.now();
	var tPre = tNow;
	requestAnimationFrame(animate);
	var mxPrev = 0, myPrev = 0;

	var bubbles: ParticleSystem = new ParticleSystem();
	bubbles.createGrid(70, 70);

	function rotate(pos: Point, angle: number): Point {
		return new Point(
			Math.cos(angle) * pos.x + Math.sin(angle) * pos.y,
		   -Math.sin(angle) * pos.x + Math.cos(angle) * pos.y);
	}

	const centers: Point[] = [
		new Point(0.2, 0.2),
		new Point(0.2, 0.8),
		new Point(0.8, 0.2),
		new Point(0.8, 0.8)
	];
	const spins = [
		0.1, -0.1, -0.1, 0.1
	];

	function animate() {
		tNow = performance.now();
		const dt = (tNow - tPre)/1000.0;
		tPre = tNow;

		const w = canvas.clientWidth;
		const h = canvas.clientHeight;
		canvas.width = w;
		canvas.height = h;

		const c = canvas.getContext('2d');
		c.strokeStyle = "#0008";
		c.fillStyle = "#fff2";
		c.lineWidth = 1.0;

		const mx: number = Number.parseFloat(canvas.getAttribute("mouseX"));
		const my: number = Number.parseFloat(canvas.getAttribute("mouseY"));
		const vx: number = (mx - mxPrev) / w / dt;
		const vy: number = (my - myPrev) / h / dt;
		mxPrev = mx;
		myPrev = my;

		c.beginPath();

		for (var i = 0; i < bubbles.pos.length; i++) {
			bubbles.acc[i].x = 0.0;
			bubbles.acc[i].y = 0.0;

			// Fluid motion
			const fluidDrag = 1.0;
			const df = Math.pow(1.0 - fluidDrag, dt);
			var fluidX = 0.0;
			var fluidY = 0.0;

			for (var n = 0; n < centers.length; n++) {
				const dx = bubbles.pos[i].x - centers[n].x;
				const dy = bubbles.pos[i].y - centers[n].y;
				const d = Math.sqrt(dx * dx + dy * dy);
				const pRot = rotate(new Point(dx, dy), spins[n] / (2.0 * Math.PI));
				fluidX += (pRot.x - dx) / Math.max(d, 0.01);
				fluidY += (pRot.y - dy) / Math.max(d, 0.01);
			}

			bubbles.acc[i].x += (1.0 - df) * (fluidX - bubbles.vel[i].x);
			bubbles.acc[i].y += (1.0 - df) * (fluidY - bubbles.vel[i].y);

			const brownian = 0.0 * .5;
			bubbles.acc[i].x += brownian * dt * (Math.random() - 0.5);
			bubbles.acc[i].y += brownian * dt * (Math.random() - 0.5);

/*
			// Mouse drag
			var dx = mx / w - bubbles.pos[i].x;
			var dy = my / h - bubbles.pos[i].y;
			if (dx >  0.5) dx -= 1.0;
			if (dx < -0.5) dx += 1.0;
			const Cd = 1.0;
			const falloff = 5.0;
			const d = Math.sqrt(dx * dx + dy * dy);
			const k = Math.pow(1.0 - Cd / (falloff * d + 1.0), dt);
			if (Math.abs(vx) > 0.0) {
				bubbles.acc[i].x += (1.0 - k) * (vx - bubbles.vel[i].x);
			}
			if (Math.abs(vy) > 0.0) {
				bubbles.acc[i].y += (1.0 - k) * (vy - bubbles.vel[i].y);
			}

			// Fluid motion
			const upwardSpeed = -0.2;
			const waveMag = 0.017;
			const waveFreq = 8.0;
			const fluidDrag = 0.35;
			const df = Math.pow(1.0 - fluidDrag, dt);
			const fluidX =
				waveMag * (Math.cos(waveFreq * bubbles.pos[i].y) - 1.0);
			const fluidY = upwardSpeed;
			bubbles.acc[i].x += (1.0 - df) * (fluidX - bubbles.vel[i].x);
			bubbles.acc[i].y += (1.0 - df) * (fluidY - bubbles.vel[i].y);

			const brownianX = 0.35;
			const brownianY = 0.7;
			bubbles.acc[i].x += brownianX * dt * (Math.random() - 0.5);
			bubbles.acc[i].y += brownianY * dt * (Math.random() - 0.5);
			*/

			// Advect
			bubbles.vel[i].x += bubbles.acc[i].x;
			bubbles.vel[i].y += bubbles.acc[i].y;
			bubbles.pos[i].x += dt * bubbles.vel[i].x;
			bubbles.pos[i].y += dt * bubbles.vel[i].y;

			while (bubbles.pos[i].x < 0.0) {
				bubbles.pos[i].x += 1.0;
			}
			while (bubbles.pos[i].x > 1.0) {
				bubbles.pos[i].x -= 1.0;
			}
			while (bubbles.pos[i].y < 0.0) {
				bubbles.pos[i].y += 1.0;
			}
			while (bubbles.pos[i].y > 1.0) {
				bubbles.pos[i].y -= 1.0;
			}

			// Draw
			const diag = 0.001 * Math.sqrt(w * w + h * h);
			const px = bubbles.pos[i].x * w;
			const py = bubbles.pos[i].y * h;
			c.moveTo(px + diag * bubbles.rad[i], py);
			c.arc(px, py, diag * bubbles.rad[i], 0, 2.0 * Math.PI, false);
		}
		c.stroke();
		c.fill();

		requestAnimationFrame(animate);
	}
</script>
