<div class = "grid-overlay">
	<slot />
</div>

<style>
	.grid-overlay {
		background-color: rgba(0, 0, 0, 0);
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 80%;
        margin: auto;
		overflow:hidden;
  		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 2rem;
		align-content: center;
		justify-items: center;
        box-sizing: border-box; 
        padding: 2rem;
		pointer-events: none;
	}
</style>
